@model CoreBridge.Models.Entity.TitleInfo

@{
    ViewData["Title"] = "Create";
}

<h1 class="shadow">タイトル情報登録</h1>
@if (ViewBag.Alert != null)
{
    <div class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600">
        <p class="self-center">@ViewBag.Alert</p>
        <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
    </div>
}
<div class="row">
    <div class="col-md-4 mt-3">
        <form asp-action="Create" class="w-full max-w-lg">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="TitleName" class="control-label"></label>
                <input asp-for="TitleName" class="form-control" />
                <span asp-validation-for="TitleName" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="TitleCode" class="control-label"></label>
                <input asp-for="TitleCode" class="form-control" />
                <span asp-validation-for="TitleCode" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="TrialTitleCode" class="control-label"></label>
                <input asp-for="TrialTitleCode" class="form-control" />
                <span asp-validation-for="TrialTitleCode" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="Ptype" class="control-label"></label>
                <input asp-for="Ptype" class="form-control" />
                <span asp-validation-for="Ptype" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="SwitchAppId" class="control-label"></label>
                <input asp-for="SwitchAppId" class="form-control" />
                <span asp-validation-for="SwitchAppId" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="XboxTitleId" class="control-label"></label>
                <input asp-for="XboxTitleId" class="form-control" />
                <span asp-validation-for="XboxTitleId" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="PsClientId" class="control-label"></label>
                <input asp-for="PsClientId" class="form-control" />
                <span asp-validation-for="PsClientId" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="PsClientSecoret" class="control-label"></label>
                <input asp-for="PsClientSecoret" class="form-control" />
                <span asp-validation-for="PsClientSecoret" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="SteamAppId" class="control-label"></label>
                <input asp-for="SteamAppId" class="form-control" />
                <span asp-validation-for="SteamAppId" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="SteamPublisherKey" class="control-label"></label>
                <input asp-for="SteamPublisherKey" class="form-control" />
                <span asp-validation-for="SteamPublisherKey" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="DevUrl" class="control-label"></label>
                <input asp-for="DevUrl" class="form-control" />
                <span asp-validation-for="DevUrl" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="QaUrl" class="control-label"></label>
                <input asp-for="QaUrl" class="form-control" />
                <span asp-validation-for="QaUrl" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <label asp-for="ProdUrl" class="control-label"></label>
                <input asp-for="ProdUrl" class="form-control" />
                <span asp-validation-for="ProdUrl" class="text-danger"></span>
            </div>
            <div class="flex flex-wrap -mx-3 ml-2 mb-3">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">戻る</a>
</div>
<script>
    var alert_del = document.querySelectorAll('.alert-del');
    alert_del.forEach((x) =>
        x.addEventListener('click', function () {
            x.parentElement.classList.add('hidden');
        })
    );
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
